<div style="width: 80%; margin: 0 auto;">
  <% if current_user.blank? %>
    <h1>
      <%= link_to 'Login', login_path %>
    </h1>
  <% else %>

    <h1>Hi, <%= session[:name] %>.</h1>
    <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
      <input type=submit value='logout'>
    <% end %>

  <% end %>  
</div>
